# ------------------------------------------------------
#  EMF GWT: ignored files
# ------------------------------------------------------

# Maven
target/

# eclipse
.settings/
.classpath
.project
.metadata

# IntelliJ
*.iml
*.iws
*.ipr
.idea/

# OS
.DS_Store

# Misc
*.swp

# GWT
/**/.gwt
/**/workdir

# Others
*.class
*.war
*.orig
*.jar
*.ear
